.#{$prefix}select {
  position: relative;
  display: inline-block;
  font-family: $select-font-family;
  font-size: $select-font-size;
  color: $select-color;
  max-width: 100%;
  text-align: left;
}

.#{$prefix}select__selected {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  padding: $select-padding-y $select-padding-x;
  min-height: $select-height;
  font-weight: $select-font-weight;
  font-variant-numeric: tabular-nums;
  line-height: $select-line-height;
  color: $select-color;
  background-color: $select-bg;
  border: $select-border-width solid $select-border-color;
  @include border-radius($select-border-radius);
  @include box-shadow($select-box-shadow);
  @include transition($select-transition);

  &:hover,
  &:focus,
  .#{$prefix}select.active & {
    border-color: $select-focus-border-color;
    @if $enable-shadows {
      @include box-shadow($select-box-shadow, $select-focus-box-shadow);
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: $select-focus-box-shadow;
    }

    .#{$prefix}select__clear {
      visibility: visible;
    }
  }

  &:focus {
    outline: none;
  }
}

.#{$prefix}select__arrow {
  user-select: none;
  display: inline-flex;
  align-items: center;
  margin-left: $select-arrow-margin;
  
  span {
    display: inline-block;
    width: $select-arrow-size;
    height: $select-arrow-size;
    border-right: $select-arrow-border-size solid $select-arrow-color;
    border-bottom: $select-arrow-border-size solid $select-arrow-color;
    transform: rotate(45deg);
    transition: $select-arrow-transition;

    .#{$prefix}select.active & {
      transform: $select-arrow-active-transform;
    }
  }
}

.#{$prefix}select__options-wrapper {
  position: absolute;
  min-width: $select-options-min-width;
  max-width: 100vw;
  z-index: map-get($z-index, 'dropdown');
}

.#{$prefix}select__options {
  background: $select-options-bg;
  padding: $select-options-padding;
  width: 100%;
  max-height: $select-options-max-height;
  margin-top: $select-options-margin-top;
  overflow-y: auto;
  box-shadow: $select-options-box-shadow;
  @include border-radius($select-options-border-radius);
  z-index: map-get($z-index, 'dropdown');
  transition: all .3s;
}

.#{$prefix}select__option {
  position: relative;
  display: block;
  cursor: pointer;
  padding: $select-option-padding;
  white-space: nowrap;
  color: $select-option-color;

  &:hover, &.active {
    color: $select-option-active-color;
    background: $select-option-active-bg;
  }

  &--static {
    cursor: default;

    &:hover, &.active {
      color: inherit;
      background: inherit;
    }
  }
}

.#{$prefix}select__prepend {
  margin-right: .5rem;
  user-select: none;
}

.#{$prefix}select__append {
  padding-left: .5rem;
  margin-left: auto;
  user-select: none;
}

.#{$prefix}select__placeholder,
.#{$prefix}select__prepend,
.#{$prefix}select__append {
  color: $select-placeholder-color;
}

.#{$prefix}select__search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.#{$prefix}select__search-input {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: $select-padding-y $select-padding-x;
}

.#{$prefix}select__selected-value {
  margin-right: auto;
}

// Mode = 'tags' || multiple
.#{$prefix}select--tags,
.#{$prefix}select--multiple {
  .#{$prefix}select__selected {
    height: auto;
    min-height: $select-height;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .#{$prefix}tag:nth-child(1) {
      margin-left: 0 !important;
    }
  }

  .#{$prefix}select__selected-content {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    white-space: normal;
    height: auto;
  }

  .#{$prefix}select__selected-value .#{$prefix}tag {
    margin: .25rem;
  }

  // Fix bug input search overflow
  .#{$prefix}select__selected-content,
  .#{$prefix}select__selected-value {
    width: 100%;
  }

  .#{$prefix}select__field {
    max-width: calc(100% - 4px);
  }
}

.#{$prefix}select__field-size {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre;
  opacity: 0;
  pointer-events: none;
}

.#{$prefix}select__field {
  position: relative;
  display: inline-block;
  margin-left: 4px;

  &__input {
    width: 0.75em;
    max-width: 100%;
    border: 0;
    background-color: inherit;
  }
}

.#{$prefix}select__field-input {
  width: 0.75em;
  max-width: 100%;
  border: 0;
  padding: 0;
  background-color: inherit;

  &:focus {
    outline: none;
  }
}

// Searchable
.#{$prefix}select--searchable {
  &.active {
    .#{$prefix}select__placeholder,
    .#{$prefix}select__selected-value {
      visibility: hidden;
      opacity: 0;
    }
  }
}

// Size
.#{$prefix}select--sm {
  font-size: $select-font-size-sm;

  .#{$prefix}select__selected {
    padding: $select-padding-y-sm $select-padding-x-sm;
    min-height: $select-height-sm;
  }
}

.#{$prefix}select__option[size="sm"] {
  padding: $select-option-padding-sm;
}

.#{$prefix}select--lg {
  font-size: $select-font-size-lg;

  .#{$prefix}select__selected {
    padding: $select-padding-y-lg $select-padding-x-lg;
    min-height: $select-height-lg;
  }
}

.#{$prefix}select__option[size="lg"] {
  padding: $select-option-padding-lg;
}


// Disabled
.#{$prefix}select--disabled {
  pointer-events: none;

  .#{$prefix}select__selected {
    background-color: $select-disabled-bg;
    color: $select-disabled-color;
    border-color: $select-disabled-border-color;
  }
}

// Valid/Invalid
.#{$prefix}select--valid {
  .#{$prefix}select__selected {
    border-color: $success;
  }
}

.#{$prefix}select--invalid {
  .#{$prefix}select__selected {
    border-color: $danger;
  }
}

.#{$prefix}select:not(.#{$prefix}select--multiple):not(.#{$prefix}select--tags) {
  .#{$prefix}select__selected-value {
    @include text-overflow;
  }
}
