.#{$prefix}pagination {
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.#{$prefix}pagination__ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.#{$prefix}pagination__total-text {
  @if $pagination-margin-start == (-$pagination-border-width) {
    margin-right: 1rem;
  } @else {
    margin-right: $pagination-margin-start;
  }
}

.#{$prefix}pagination__item {
  &:not(:first-child) .#{$prefix}pagination__item-link {
    margin-left: $pagination-margin-start;
  }

  &--current .#{$prefix}pagination__item-link {
    z-index: 3;
    color: $pagination-active-color;
    @include gradient-bg($pagination-active-bg);
    border-color: $pagination-active-border-color;

    &:hover, &:focus {
      color: $pagination-active-color;
      @include gradient-bg($pagination-active-bg);
    }
  }

  &--dumb .#{$prefix}pagination__item-link {
    border-top-color: transparent;
    border-bottom-color: transparent;

    @if $pagination-margin-start != (-$pagination-border-width) {
      border-color: transparent;

      &:hover {
        border-color: transparent;
      }
    }

    &:hover {
      border-top-color: transparent;
      border-bottom-color: transparent;
      color: inherit;
    }
  }

  &[disabled] .#{$prefix}pagination__item-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
}

.#{$prefix}pagination__item-link {
  position: relative;
  display: block;
  color: $pagination-color;
  text-decoration: if($link-decoration == none, null, none);
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;
  font-variant-numeric: tabular-nums;
  min-width: calc(2em + #{$pagination-padding-x * 2});
  text-align: center;
  @include transition($pagination-transition);

  &:hover {
    z-index: 2;
    color: $pagination-hover-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }

  &:focus {
    z-index: 3;
    color: $pagination-focus-color;
    background-color: $pagination-focus-bg;
    outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;
  }
}


//
// Sizing
//
@include pagination-size($pagination-padding-y, $pagination-padding-x, null, $pagination-border-radius);

.#{$prefix}pagination--lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $border-radius-lg);
}

.#{$prefix}pagination--sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $border-radius-sm);
}