body.srcoll-body-lock {
  overflow-y: scroll !important;
  position: fixed;
  width: 100%;
}

.page-wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
}

.page-content {
  padding-top: 3rem;
  padding-bottom: 4rem;
  flex-grow: 1;
}
