/* Utilities */
$utilities: (
    "flex-direction": (
        class: "flex",
        values: row column row-reverse column-reverse
    ),
    "flex-wrap": (
        class: "flex",
        values: wrap nowrap wrap-reverse
    ),
    "flex-grow": (
        class: "flex-grow",
        values: 1
    ),
    "flex-shrink": (
        class: "flex-shrink",
        values: 1
    ),
    "justify-content": (
        class: "justify-content",
        values: (
            start: flex-start,
            end: flex-end,
            center: center,
            between: between,
            around: around
        )
    ),
    "align-items": (
        class: "align-items",
        values: (
            start: flex-start,
            end: flex-end,
            center: center,
            baseline: baseline,
            stretch: stretch
        )
    ),
    "align-content": (
        class: "align-content",
        values: (
            auto: auto,
            start: flex-start,
            end: flex-end,
            center: center,
            around: around,
            stretch: stretch
        )
    ),
    "align-self": (
        class: "align-self",
        values: (
            auto: auto,
            start: flex-start,
            end: flex-end,
            center: center,
            baseline: baseline,
            stretch: stretch
        )
    ),
    "display": (
        class: "d",
        values: none inline inline-block block table table-row table-cell flex inline-flex
    ),
    "text-align": (
        class: "text",
        values: left right center
    ),
    "text-transform": (
        class: "text",
        values: uppercase lowercase capitalize
    ),
    "font-weight": (
        class: "font",
        values: (
            thin: 100,
            light: 300,
            normal: 400,
            medium: 500,
            semiBold: 600,
            bold: 700,
            black: 800
        )
    ),
    "color": (
        class: "",
        values: $theme-colors
    ),
    "background-color": (
        class: "bg",
        values: $theme-colors
    ),
    "width": (
        class: "w",
        values: (
            100: 100%
        )
    )
);

/* Render utilities */
@each $key, $val in map-get($grid, 'breakpoints') {
    @if $key == 'default' {
        @include render-utilities($utilities, $enable-important-utilities, "");
    } @else {
        @include media(">=" + $key) {
            @include render-utilities($utilities, $enable-important-utilities, $key);
        }
    }
}

/* Clearfix */
.clearfix {
    @include clearfix;
}
