.#{$prefix}tooltip {
  z-index: map-get($z-index, 'tooltip');
  display: none;

  &[data-show] {
    display: block;
  }

  &[data-popper-placement^='top'] {
    padding-bottom: $tooltip-arrow-size;

    .#{$prefix}tooltip__arrow {
      bottom: -$tooltip-arrow-size/2;
    }
  }
  
  &[data-popper-placement^='bottom'] {
    padding-top: $tooltip-arrow-size;

    .#{$prefix}tooltip__arrow {
      top: -$tooltip-arrow-size/2;
    }
  }
  
  &[data-popper-placement^='left'] {
    padding-right: $tooltip-arrow-size;

    .#{$prefix}tooltip__arrow {
      right: -$tooltip-arrow-size/2;
    }
  }
  
  &[data-popper-placement^='right'] {
    padding-left: $tooltip-arrow-size;

    .#{$prefix}tooltip__arrow {
      left: -$tooltip-arrow-size/2;
    }
  }

  // Align center arrow when extract value
  &[data-popper-placement='top'],
  &[data-popper-placement='bottom'] {
    .#{$prefix}tooltip__arrow {
      left: 50%;
      margin-left: -$tooltip-arrow-size/2;
    }
  }

  &[data-popper-placement='left'],
  &[data-popper-placement='right'] {
    .#{$prefix}tooltip__arrow {
      top: 50%;
      margin-top: -$tooltip-arrow-size/2;
    }
  }
}

.#{$prefix}tooltip__content {
  position: relative;
  background: $tooltip-bg;
  color: $tooltip-color;
  padding: $tooltip-padding-y $tooltip-padding-x;
  font-size: $tooltip-font-size;
  border-radius: $tooltip-border-radius;
  max-width: $tooltip-max-width;
  @include box-shadow($tooltip-box-shadow);
}

.#{$prefix}tooltip__arrow,
.#{$prefix}tooltip__arrow::before {
  position: absolute;
  width: $tooltip-arrow-size;
  height: $tooltip-arrow-size;
  z-index: -1;
}

.#{$prefix}tooltip__arrow::before {
  content: '';
  transform: rotate(45deg);
  background: $tooltip-arrow-color;
}

.#{$prefix}tooltip-trigger {
  display: inline-block;
}
