<template>
  <div class="the-header">
    <div class="the-header__content">
      <!-- <form class="the-header__search" @submit.prevent>
        <button type="submit" class="the-header__search-btn"></button>
        <input type="search" class="the-header__search-input" placeholder="Search..." />
      </form> -->
    </div>
  </div>
</template>

<script>
export default {};
</script>
