$layout-sidebar-width: 240px;
$layout-header-height: 75px;

.layout-default {
  .page-content-wrapper {
      flex-grow: 1;
      padding-left: $layout-sidebar-width;
  }
  
  .page-content {
      padding: (20px + $layout-header-height) 30px 50px;
  }
}