.the-header {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  z-index: map-get($z-index, 'header');
}

.the-header__content {
  background-color: #fff;
  height: $layout-header-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EBEDEF;
}

.the-header__search {
  height: 100%;
  flex-grow: 1;
  position: relative;
}

.the-header__search-input {
  height: 100%;
  width: 100%;
  border: 0;
  padding-left: calc(30px + 2.8rem);
  padding-right: 3rem;
  font-size: 1.5rem;

  &::placeholder {
      color: $light;
  }
}

.the-header__search-btn {
  position: absolute;
  font-size: 1.8rem;
  top: 50%;
  margin-top: -.9rem;
  left: 30px;
  color: $light;
}

.the-header__menu {
  list-style-type: none;
  height: 100%;
  flex-shrink: 0;
  display: flex;
}

.the-header__menu-item {
  height: 100%;
  border-left: 1px solid #EBEDEF;

  > a {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $layout-header-height;
  }
}


.the-header__badge {
  color: $light;

  &--message {
      .icon {
          font-size: 2.5rem;
      }
  }

  &--noti {
      .icon {
          font-size: 2.4rem;
      }
  }
}

.the-header__menu-item--user {
  > .app-dropdown {
      height: 100%;
  }
}

.the-header__user-trigger {
  display: flex;
  align-items: center;
  height: 100%;
  color: inherit;
  text-decoration: none;
  padding: 0 15px;
  width: 220px;

  > .icon {
      color: #B1BFD5;
      font-size: 1rem;
  }
}

.the-header__user-trigger-icon {
  margin-right: 1rem;
  flex: 0 0 4.5rem;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(55, 160, 0, 0.1);
  border-radius: 3px;
  color: $primary;
  font-size: 2.2rem;
}

.the-header__user-trigger-name {
  @include text-overflow;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.the-header__menu-dropdown {
  list-style-type: none;
  width: 220px;
  padding: 1rem 0;

  li {
      a {
          text-decoration: none;
          display: block;
          padding: 1rem 2.5rem;
          color: $body-color;
          border-left: 4px solid transparent;

          &:hover {
              background: #F9F9F9;
              border-left: 4px solid $primary;
              color: $primary;
          }
      }
  }
}