.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background-color: $dark;
  z-index: map-get($z-index, 'sidebar');
}

.sidebar__top {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  height: $layout-header-height;
  border-bottom: 1px solid #222E3C;
  margin-bottom: 10px;
}

.sidebar__logo {
  width: 155px;
  fill: $primary;
}

.sidebar__collapse {
  font-size: 2rem;
  color: #fff;
}

.sidebar__menu {
  @include scrollbars(4px, rgba(255, 255, 255, 0.5), transparent, 10px);
  list-style-type: none;
  height: calc(100% - #{$layout-header-height + 10px});
  overflow-y: auto;
  padding-left: 0;
}

.sidebar__menu-item {
  overflow: hidden;
  
  > a {
      position: relative;
      text-decoration: none;
      color: $light;
      display: flex;
      align-items: center;
      padding: 1rem 1rem 1rem 2rem;
      z-index: 1;

      &:hover {
          background-color: rgba($primary, .5);
      }

      &.nuxt-link-active, &.active {
          background-color: $primary;

          .sidebar__menu-item-icon {
              background-color: rgba(#4880FF, .16);
              svg {
                  fill: $primary;
              }
          }
      }

      &.active, &.collapsed {
          .sidebar__menu-item-arrow {
              transform: rotate(-180deg);
          }
      }
  }
}

.sidebar__menu-item-icon {
  flex:  0 0 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#A8B1BF, .1);
  margin-right: 1.5rem;

  svg {
      transition: fill .3s;
      fill: #F5F7FF;
  }
}

.sidebar__menu-item-text {
  font-size: 1.5rem;
}

.sidebar__menu-item-arrow {
  flex: 0 0 2.4rem;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: transform .3s;
}

.sidebar__submenu {
  padding-left: 2rem;
  list-style-type: none;

  > li {
      > a {
          position: relative;
          padding: 1rem 1rem 1rem 3.5rem;
          text-decoration: none;
          color: $light;
          display: block;
          font-size: 1.5rem;
          line-height: (18/15);

          &:before {
              content: "";
              position: absolute;
              width: 0.5rem;
              height: 0.5rem;
              top: 50%;
              left: 2rem;
              margin-top: -.25rem;
              border-radius: 50%;
              transition: background-color .3s;
              background-color: #B6BECA;
          }

          &:hover, &.nuxt-link-active {
              color: $primary;

              &:before {
                  background-color: $primary;
              }
          }
      }
  }

  &.animated {
      animation-duration: .3s;
  }
}
