@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin trapezoid($width, $height, $sides, $color) {
  border-bottom: $height solid $color;
  border-left: $sides solid transparent;
  border-right: $sides solid transparent;
  height: 0;
  width: $width;
}

@mixin textWithTrapezoid($width, $height, $sides, $color) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: $height;
  padding: 0 $sides;

  > * {
    position: relative;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    @include trapezoid($width, $height, $sides, $color);
  }
}

@mixin set-line($opts) {
  $setLineOpts: extend(
    (
      'lineClamp': 1,
      'lineHeight': 1.12em,
      'fixedHeight': false
    ),
    $opts,
    true
  );

  $lineClamp: map-get($setLineOpts, 'lineClamp');
  $lineHeight: map-get($setLineOpts, 'lineHeight');
  $fixedHeight: map-get($setLineOpts, 'fixedHeight');

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: $lineClamp;
  line-height: $lineHeight;
  overflow: hidden;
  text-overflow: ellipsis;

  @if $fixedHeight {
    height: $lineHeight * $lineClamp * 1em;
    max-height: unset;
  } @else {
    max-height: $lineHeight * $lineClamp * 1em;
  }
}

@mixin text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel - be modified
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, slategray);
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%),
  $border-radius: 0
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: $border-radius;
  }

  // For Internet Explorer
  scrollbar-face-color: $foreground-color;
  scrollbar-track-color: $background-color;

  // For Firefox
  // Check the Browser compatibility table carefully before using this.
  @if ($size > 10px) {
    scrollbar-width: thin;
  } @else {
    scrollbar-width: auto;
  }
  scrollbar-color: $foreground-color;
}

// Make a triangle shape
@mixin triangle($width, $height, $color, $direction: 'down') {
  width: 0;
  height: 0;

  @if ($direction == 'down') {
    border-left: ($width/2) solid transparent;
    border-right: ($width/2) solid transparent;
    border-top: $height solid $color;
  }

  @if ($direction == 'up') {
    border-left: ($width/2) solid transparent;
    border-right: ($width/2) solid transparent;
    border-bottom: $height solid $color;
  }

  @if ($direction == 'left') {
    border-top: ($height/2) solid transparent;
    border-bottom: ($height/2) solid transparent;
    border-right: $width solid $color;
  }

  @if ($direction == 'right') {
    border-top: ($height/2) solid transparent;
    border-bottom: ($height/2) solid transparent;
    border-left: $width solid $color;
  }
}
