// Pagination
@mixin pagination-size($padding-y, $padding-x, $font-size, $border-radius) {
  .#{$prefix}pagination__item-link {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    min-width: calc(2em + #{$padding-x * 2});
  }

  .#{$prefix}pagination__item {
    @if $enable-rounded and $pagination-margin-start == (-$pagination-border-width) {
      &:first-child {
        .#{$prefix}pagination__item-link {
          @include border-left-radius($border-radius);
        }
      }

      &:last-child {
        .#{$prefix}pagination__item-link {
          @include border-right-radius($border-radius);
        }
      }
    } @else {
      //Add border-radius to all pageLinks in case they have left margin
      .#{$prefix}pagination__item-link {
        @include border-radius($border-radius);
      }
    }
  }
}
