@mixin render-utilities($utilOpts, $important: '', $breakpoint: '') {
  $bp: '';
  $wrapper: '';

  @if $breakpoint != '' {
    $bp: $breakpoint + '-';
  }

  @if type-of($important) == 'string' {
    $wrapper: $important;
  }

  @each $property, $options in $utilOpts {
    $class: '';

    @if map-get($options, 'class') != '' {
      $class: map-get($options, 'class') + '-';
    }

    @each $value in map-get($options, 'values') {
      @if type-of($value) == 'list' {
        #{$wrapper} .#{$class}#{$bp}#{nth($value, 1)} {
          @if ($enable-important-utilities == true) {
            #{$property}: nth($value, 2) !important;
          } @else {
            #{$property}: nth($value, 2);
          }
        }
      } @else {
        #{$wrapper} .#{$class}#{$bp}#{$value} {
          @if ($enable-important-utilities == true) {
            #{$property}: $value !important;
          } @else {
            #{$property}: $value;
          }
        }
      }
    }
  }
}
