.#{$prefix}badge {
  position: relative;
  display: inline-block;
}

.#{$prefix}badge__dot,
.#{$prefix}badge__count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.#{$prefix}badge__count {
  min-width: $badge-count-size;
  height: $badge-count-size;
  padding: $badge-count-padding;
  color: #fff;
  font-weight: $badge-count-font-weight;
  font-size: $badge-count-font-size;
  line-height: $badge-count-size;
  white-space: nowrap;
  text-align: center;
  border-radius: $badge-count-rounded;
  box-shadow: $badge-count-shadow;
}

.#{$prefix}badge__dot {
  width: $badge-dot-size;
  min-width: $badge-dot-size;
  height: $badge-dot-size;
  border-radius: 100%;
  box-shadow: $badge-dot-shadow;
}

// Badge variant
@each $color, $value in $theme-colors {
  .#{$prefix}badge--#{$color} {
    @include badge-variant($value);
  }
}
