<template>
  <div class="page-wrap layout-default">
    <TheHeader />

    <TheSidebar />

    <div class="page-content-wrapper">
      <div class="page-content">
        <nuxt />
      </div>
    </div>
  </div>
</template>

<script>
import TheHeader from '~/components/the-header/TheHeader';
import TheSidebar from '~/components/the-sidebar/TheSidebar';

export default {
  components: {
    TheHeader,
    TheSidebar
  }
};
</script>
