// Wrappers
.#{$prefix}modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: map-get($z-index, modal);
  display: none;
  overflow: auto;
  outline: 0;
  text-align: center;

  &.show {
    display: block;
  }
}

.#{$prefix}modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: $modal-backdrop-bg;
}

.#{$prefix}modal-dialog {
  position: relative;
  display: inline-block;
  text-align: left;
  margin: $modal-dialog-margin;
  width: auto;
  min-width: $modal-sm;
  max-width: 100%;
  @include transition($modal-transition);

  @include media('>=sm') {
    margin: $modal-dialog-margin-y-sm-up;
  }

  .#{$prefix}modal-outer.fade & {
    transform: $modal-fade-transform;
  }

  .#{$prefix}modal-outer.scale & {
    transform: $modal-scale-transform;
  }

  .#{$prefix}modal-outer.show & {
    transform: $modal-show-transform;
  }
}

.#{$prefix}modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $modal-content-color;
  background-color: $modal-content-bg;
  border: $modal-content-border-width solid $modal-content-border-color;
  @include border-radius($modal-content-border-radius);
  @include box-shadow($modal-content-box-shadow-xs);
}

// Components of modal
.#{$prefix}modal-header {
  padding: $modal-header-padding;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
}

.#{$prefix}modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: $modal-inner-padding;
}

.#{$prefix}modal-footer {
  padding: $modal-inner-padding;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;

  .#{$prefix}btn {
    margin: $modal-footer-margin-between;
  }
}

.#{$prefix}modal-close {
  font-weight: 700;
  font-size: 2.4rem;
  border: none;
  background-color: transparent;
}

.#{$prefix}modal-title {
  margin-bottom: 0;
  line-height: $modal-title-line-height;
}

// Size of modal
.#{$prefix}modal-sm {
  width: $modal-sm;
}

.#{$prefix}modal-md {
  @include media('>=md') {
    width: $modal-md;
  }
}

.#{$prefix}modal-lg {
  @include media('>=lg') {
    width: $modal-lg;
  }
}

.#{$prefix}modal-xl {
  @include media('>=xl') {
    width: $modal-xl;
  }
}

// Centered
.#{$prefix}modal-centered {
  &:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }

  .#{$prefix}modal-dialog {
    vertical-align: middle;
  }
}
