<template>
  <nav class="sidebar">
    <ul class="sidebar__menu">
      <li v-for="(item, index) in menu" :key="index" class="sidebar__menu-item">
        <template v-if="item.children && item.children.length">
          <a
            :href="item.path"
            :class="{
              active: $route.path.includes(item.path),
              collapsed: collapses.includes(item.path),
            }"
            @click.prevent="setCollapses(item.path)"
          >
            <span class="sidebar__menu-item-text">{{ item.name }}</span>
          </a>

          <transition
            enter-active-class="animated fadeInDown"
            leave-active-class="animated fadeOutUp"
          >
            <ul class="sidebar__submenu" v-if="collapses.includes(item.path)">
              <li v-for="(submenuItem, index) in item.children" :key="index">
                <n-link
                  :to="submenuItem.path || ''"
                  :exact="submenuItem.exact"
                  >{{ submenuItem.name }}</n-link
                >
              </li>
            </ul>
          </transition>
        </template>

        <n-link v-else :to="item.path || ''" :exact="item.exact || false">
          <span class="sidebar__menu-item-text">{{ item.name }}</span>
        </n-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      menu: [],
      collapses: [],
    };
  },

  created() {
    this.menu = this.generateMenu();
  },

  beforeMount() {
    const path = this.$route.path;
    const parentPath = '/' + path.split('/')[1];
    const menuItem = this.menu.find((menu) => menu.path === parentPath);

    if (menuItem && menuItem.children) {
      this.setCollapses(parentPath);
    }
  },

  methods: {
    generateComponentsMenu() {
      let menu = [];
      const requirePages = require.context(
        '../../pages/components',
        true,
        /.[\w-]+\.vue$/
      );
      requirePages.keys().forEach((fileName) => {
        // only get Original Component Name
        const arrName = fileName.split('/');
        const originalName = arrName[arrName.length - 1];
        const rawComponentName =
          originalName === 'index.js'
            ? arrName[arrName.length - 2]
            : originalName;

        // Get the PascalCase version of the component name
        const componentName = rawComponentName
          // Remove the "./_" from the beginning
          .replace(/^\.\/_/, '')
          // Remove the file extension from the end
          .replace(/\.\w+$/, '')
          // Split up kebabs
          .split('-')
          // Upper case
          .map((kebab) => kebab.charAt(0).toUpperCase() + kebab.slice(1))
          // Concatenated
          .join('');

        return menu.push({
          path: '/components' + fileName.slice(1, -4),
          name: componentName,
        });
      });

      return menu;
    },

    generateMenu() {
      return [
        {
          path: '/',
          name: 'Home',
          exact: true
        },
        {
          path: '/components',
          name: 'Components',
          children: this.generateComponentsMenu()
        }
      ];
    },

    setCollapses(path) {
      if (this.collapses.includes(path)) {
        this.collapses = this.collapses.filter((item) => item !== path);
      } else {
        this.collapses = [...this.collapses, path];
      }
    },
  },
};
</script>
