.#{$prefix}divider {
  position: relative;
}

.#{$prefix}divider__text {
  position: relative;
  display: inline-block;
  padding: .2rem .5rem;
  background-color: #fff;
}

/** MODIFIERS **/

// Type
.#{$prefix}divider--horizontal {
  display: block;
  min-height: 1px;
  margin: $divider-horizontal-margin;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: $divider-background;
  }
}

.#{$prefix}divider--vertical {
  display: inline-block;
  width: 1px;
  height: .9em;
  margin: $divider-vertical-margin;
  vertical-align: middle;
  background-color: $divider-background;
}

// Variant
@each $color, $value in $theme-colors {
  .#{$prefix}divider--#{$color} {
    &.#{$prefix}divider--horizontal:before {
      background-color: $value;
    }

    &.#{$prefix}divider--vertical {
      background-color: $value;
    }

    .#{$prefix}divider__text {
      color: $value;
    }
  }
}
