<template>
  <div>
    <h1>Avatar</h1>
    <hr />

    <div class="mb-5">
      <h3>Avatar sizes</h3>

      <div>
        <v-avatar v-for="size in COMPONENT_SIZE_LIST" :key="size" src="https://picsum.photos/id/237/200/200" :size="size" class="ma-2" />
      </div>
    </div>

    <div class="mb-5">
      <h3>Avatar square</h3>

      <div>
        <v-avatar v-for="size in COMPONENT_SIZE_LIST" :key="size" src="https://picsum.photos/id/237/200/200" :size="size" class="ma-2" shape="square" />
      </div>
    </div>
  </div>
</template>

<script>
import { COMPONENT_SIZE_LIST } from '~/utils/constants';

export default {
  created() {
    this.COMPONENT_SIZE_LIST = COMPONENT_SIZE_LIST;
  }
};
</script>
