<template>
  <div>
    <h1>Badge</h1>
    <hr />

    <div class="mb-5">
      <h3>Badge variants</h3>
      <v-badge
        v-for="variant in THEME_VARIANT_LIST"
        :key="variant"
        :variant="variant"
        :count="9999"
        class="ma-2"
      >
        Notifications
      </v-badge>
    </div>

    <div class="mb-5">
      <h3>Badge dot</h3>
      <v-badge
        v-for="variant in THEME_VARIANT_LIST"
        :key="variant"
        :variant="variant"
        :count="9999"
        class="ma-2"
        dot
      >
        Notifications
      </v-badge>
    </div>
  </div>
</template>

<script>
import { THEME_VARIANT_LIST, COMPONENT_SIZE_LIST } from '~/utils/constants';

export default {
  created() {
    this.THEME_VARIANT_LIST = THEME_VARIANT_LIST;
    this.COMPONENT_SIZE_LIST = COMPONENT_SIZE_LIST;
  }
};
</script>
