<template>
  <div>
    <h1>Checkbox</h1>
    <hr />

    <div class="mb-5">
      <h3>Checkbox normal</h3>
      <v-checkbox v-model="checkbox1" value="checkbox-1">
        Checkbox 1
      </v-checkbox>
      <v-checkbox value="checkbox-2">
        Checkbox 2
      </v-checkbox>
    </div>

    <div class="mb-5">
      <h3>Checkbox inline</h3>
      <v-checkbox value="checkbox-1" inline>
        Checkbox 1
      </v-checkbox>
      <v-checkbox value="checkbox-2" inline>
        Checkbox 2
      </v-checkbox>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      checkbox1: true
    };
  }
};
</script>
