<template>
  <div>
    <h1>Divider</h1>
    <hr />

    <div class="mb-5">
      <h3>Divider variants</h3>

      <div>
        <v-divider
          v-for="variant in THEME_VARIANT_LIST"
          :key="variant"
          class="ma-5"
          :variant="variant"
        >{{ variant.slice(0, 1).toUpperCase() + variant.slice(1) }}</v-divider>
      </div>

      <v-divider class="text-center">Center</v-divider>
      <v-divider class="text-right">Right</v-divider>
    </div>

    <div class="mb-5">
      <h3>Divider vertical</h3>

      <div>
        <v-divider
          v-for="variant in THEME_VARIANT_LIST"
          :key="variant"
          class="ma-5"
          :variant="variant"
          type="vertical"
        >{{ variant.slice(0, 1).toUpperCase() + variant.slice(1) }}</v-divider>
      </div>
    </div>
  </div>
</template>

<script>
import { THEME_VARIANT_LIST } from '~/utils/constants';

export default {
  created() {
    this.THEME_VARIANT_LIST = THEME_VARIANT_LIST;
  }
};
</script>
