<template>
  <div>
    <h1>Drodown</h1>
    <hr />

    <div class="mb-5">
      <h3>Drodown normal</h3>
      <v-dropdown :panel-width="200">
        <v-button slot="activator">Click to open dropdown</v-button>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
          eius nemo dolorum recusandae similique earum expedita nihil cum ad
          sunt?
        </div>
      </v-dropdown>

      <v-dropdown :panel-width="200" trigger="hover">
        <v-button slot="activator">Hover to open dropdown</v-button>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
          eius nemo dolorum recusandae similique earum expedita nihil cum ad
          sunt?
        </div>
      </v-dropdown>
    </div>

    <div class="mb-5">
      <h3>Drodown sizes</h3>

      <div>
        <v-dropdown
          v-for="size in COMPONENT_SIZE_LIST"
          class="ma-2"
          :key="size"
          :size="size"
          :panel-width="200"
        >
          <v-button slot="activator">Hover to open dropdown</v-button>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
            eius nemo dolorum recusandae similique earum expedita nihil cum ad
            sunt?
          </div>
        </v-dropdown>
      </div>
    </div>
  </div>
</template>

<script>
import { COMPONENT_SIZE_LIST } from '~/utils/constants';

export default {
  data() {
    return {
      active: false,
    };
  },

  created() {
    this.COMPONENT_SIZE_LIST = COMPONENT_SIZE_LIST;
  },
};
</script>
