<template>
  <div>
    <h1>Radio button</h1>
    <v-button
      variant="primary"
      @click="
        radio1 === 'radio-1' ? (radio1 = 'radio-2') : (radio1 = 'radio-1')
      "
      >Change radio</v-button
    >
    <hr />

    <div class="mb-5">
      <h3>Radio normal</h3>
      <v-radio v-model="radio1" name="group-1" value="radio-1">
        Radio 1
      </v-radio>
      <v-radio v-model="radio1" name="group-1" value="radio-2">
        Radio 2
      </v-radio>
    </div>

    <div class="mb-5">
      <h3>Radio inline</h3>
      <v-radio name="group-2" value="radio-1" inline>
        Radio 1
      </v-radio>
      <v-radio name="group-2" value="radio-2" inline>
        Radio 2
      </v-radio>
    </div>

    <div class="mb-5">
      <h3>Radio group</h3>
      <v-radio-group name="group-3" v-model="group">
        <v-radio value="radio-1" inline>
          Radio 1
        </v-radio>
        <v-radio value="radio-2" inline>
          Radio 2
        </v-radio>
      </v-radio-group>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      radio1: 'radio-1',
      group: 'radio-1'
    };
  }
};
</script>
