<template>
  <div>
    <h1>Select</h1>
    <hr />

    <div class="mb-5">
      <h3>Select normal</h3>
      <v-select :options="OPTIONS" placeholder="select something...">
      </v-select>

      <v-select
        mode="multiple"
        placeholder="select something..."
        :options="OPTIONS"
      >
      </v-select>
    </div>

    <div class="mb-5">
      <h3>Select sizes</h3>

      <div>
        <v-select
          v-for="size in COMPONENT_SIZE_LIST"
          class="ma-2"
          placeholder="select something..."
          mode="multiple"
          :key="size"
          :size="size"
          :options="OPTIONS"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { COMPONENT_SIZE_LIST } from '~/utils/constants';

const OPTIONS = [
  {
    value: 0,
    text: 'Option 1'
  },
  {
    value: 1,
    text: 'Option 2'
  },
  {
    value: 2,
    text: 'Option 3'
  },
  {
    value: 3,
    text: 'Option 4'
  },
  {
    value: 4,
    text: 'Option 5'
  },
  {
    value: 5,
    text: 'Option 6'
  }
];

export default {
  data() {
    return {
      active: false
    };
  },

  created() {
    this.COMPONENT_SIZE_LIST = COMPONENT_SIZE_LIST;
    this.OPTIONS = OPTIONS;
  }
};
</script>

<style>
</style>