<template>
  <div>
    <h1>Spinner</h1>
    <hr />

    <div class="mb-5">
      <h3>Spinner variants</h3>
      <v-spinner
        v-for="variant in THEME_VARIANT_LIST"
        :key="variant"
        :variant="variant"
        class="ma-2"
      />
    </div>

    <div class="mb-5">
      <h3>Spinner sizes</h3>
      <v-spinner
        v-for="size in COMPONENT_SIZE_LIST"
        :key="size"
        :size="size"
        class="ma-2"
      />
    </div>
  </div>
</template>

<script>
import { THEME_VARIANT_LIST, COMPONENT_SIZE_LIST } from '~/utils/constants';

export default {
  created() {
    this.THEME_VARIANT_LIST = THEME_VARIANT_LIST;
    this.COMPONENT_SIZE_LIST = COMPONENT_SIZE_LIST;
  }
};
</script>
