<template>
  <div>
    <h1>Switch</h1>
    <hr />

    <div class="mb-5">
      <h3>Switch sizes</h3>

      <div>
        <v-switch
          v-for="size in COMPONENT_SIZE_LIST"
          :key="size"
          :size="size"
          class="ma-2"
        />
      </div>
    </div>

    <div class="mb-5">
      <h3>Disabled</h3>

      <div>
        <v-switch class="ma-2" disabled />
      </div>
    </div>
  </div>
</template>

<script>
import { COMPONENT_SIZE_LIST } from '~/utils/constants';

export default {
  created() {
    this.COMPONENT_SIZE_LIST = COMPONENT_SIZE_LIST;
  },
};
</script>
