<template>
  <div>
    <h1>Switch</h1>
    <hr />

    <div class="mb-5">
      <div class="mb-3">
        <v-button variant="primary" @click="currentTab = currentTab == 'tab-1' ? 'tab-2' : 'tab-1'">Switch tab</v-button>
      </div>

      <v-tabs v-model="currentTab">
        <v-tab-panel key="tab-1" title="tab 1">Tab 1</v-tab-panel>
        <v-tab-panel key="tab-2" title="tab 2">Tab 2</v-tab-panel>
      </v-tabs>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentTab: 'tab-1'
    }
  }
}
</script>
