<template>
  <div>
    <h1>Tag</h1>
    <hr />

    <div class="mb-5">
      <v-tag v-for="size in COMPONENT_SIZE_LIST" class="ma-3" :key="size" :size="size">Item</v-tag>
    </div>
  </div>
</template>

<script>
import { COMPONENT_SIZE_LIST } from '~/utils/constants';

export default {
  created() {
    this.COMPONENT_SIZE_LIST = ['xs', ...COMPONENT_SIZE_LIST];
  }
};
</script>