<template>
  <div>
    <h1>Upload</h1>
    <hr />

    <div class="mb-5">
      <v-upload></v-upload>
    </div>

    <div class="mb-5">
      <v-upload>
        Custom: Click to upload
      </v-upload>
    </div>
  </div>
</template>

<script>
export default {
};
</script>
